/* Mockingbird Theme by Nevan Scott nevanscott.com */
/* Modified by Jody Frankowski */
/* Modified some more by Matthew Power */
@import url(http://fonts.googleapis.com/css?family=Crimson+Text|Raleway:400,300,600);
@import 'nav.css';
@import 'info.css';

/* Narrow the container to get the style I'm looking for. */
.container{
    max-width: 40em;
}

a {
    text-decoration: none;
    color: #15A9DB;
}

p {
    font-family: 'Crimson Text', serif;
    line-height: 1.5
}

/* Override Title & Subtitle size for to fit in the layout. */
#title {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

#subtitle {
    font-size: 1.5em;
}

article {
    margin-bottom: 2em
}


/* Shrink code blocks to squeeze 80 chars per line. */
article pre {
    font-size: 0.75em;
    line-height: 1.3;
}

code {
    font-size: 80%
}

div.highlight{
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 2.5rem;
}

.date {
    color: #CCC;
}

footer {
    text-align: center;
    color: #BBB;
    margin: 3em 0;
    border: 1px solid #EEE;
    border-radius: 5px;
}

footer p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* Image prettify */
img {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.3em;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
